<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>to do list</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= dayejs %></h1>
    </div>
    <div class="box">
      <% list.forEach(function(i){ %>

      <form action="/delete" method="post">
        <div class="item">
          <input
            type="checkbox"
            name="checkbox"
            onchange="this.form.submit()"
            value="<%= i._id %>"
          />

          <p><%= i.name %></p>
          <input
          
            value="<%= i._id %>"
            type="button"
            style="height: 10px; width: 40px"
            onchange="this.form.submit(i._id)"
          >
            X
        </input>
        </div>
        <input type="hidden" name="hidden" value="<%= dayejs %>" />
      </form>

      <% } )%>

      <form class="item" action="/" method="post">
        <input
          type="text"
          name="todo"
          placeholder="New Item"
          autocomplete="off"
        />
        <button type="submit" name="button" value="<%= dayejs %>">+</button>
      </form>
    </div>
  </body>
</html>
